html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #ebebe6; }

/*Nav Header*/
nav {
  background-color: #ffffff; }

/* Header*/
.enav-header-inner {
  max-width: 980px;
  height: 80px;
  margin-left: auto;
  margin-right: auto; }

.enav-header-inner img {
  width: 80px;
  display: block;
  margin-top: 25px;
  float: left; }

.enav-header-inner .enav-search {
  float: left;
  margin-left: 20px;
  margin-top: 20px; }

.enav-header-inner .enav-search .search-area {
  height: 35px;
  width: 252px;
  margin-right: 0;
  margin-bottom: 1px;
  postion: relative;
  border: 1px solid #CFCBC8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.enav-header-inner .enav-search .searchBtn {
  height: 35px;
  width: 80px;
  postion: absolute;
  margin-left: -5px;
  margin-top: -2px;
  background-color: #32a4bf;
  color: white;
  border: 1px solid #CFCBC8;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.enav-header-inner .enav-search .searchBtn:hover {
  background-color: #37bbdb; }

.enav-header-inner .enav-browser {
  float: left;
  margin: 0;
  display: block;
  margin-top: 20px;
  margin-left: 20px; }

.enav-header-inner .enav-browser .browseBtn {
  width: 80px;
  height: 35px;
  color: #666;
  font-size: 14px;
  border: 1px solid #E5E5E5;
  background-color: transparent;
  border-radius: 3px;
  padding: 0;
  position: relative; }

.enav-header-inner .enav-browser .arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #bbb;
  position: relative;
  margin-top: -18px;
  margin-left: 65px; }

.enav-header-inner .regsigcar {
  float: right;
  position: relative;
  margin-top: 20px; }

.enav-header-inner .regsigcar .register {
  list-style-type: none;
  position: absolute;
  margin-left: -170px;
  margin-top: 10px;
  font-size: 14.5px; }

.enav-header-inner .regsigcar .sign-in {
  list-style-type: none;
  position: absolute;
  margin-left: -90px;
  color: #32a4bf; }

.enav-header-inner .regsigcar .sign-in .signinBtn {
  width: 65px;
  height: 35px;
  font-size: 13px;
  background-color: white;
  border: 1px solid #32a4bf;
  border-radius: 3px; }

.enav-header-inner .regsigcar .cart {
  list-style-type: none;
  position: absolute;
  margin-top: -10px;
  margin-left: -5px;
  font-size: 12px;
  border-left: 1px solid #E5E5E5;
  height: 50px;
  padding-left: 10px; }

.enav-header-inner .regsigcar .cart .cart-image {
  content: url(http://www.wpclipart.com/food/cooking/shopping_cart.png);
  width: 20px;
  margin-bottom: 5px;
  margin-top: 5px; }

.enav-header-inner .regsigcar .cart .cartTxt {
  margin-top: 1px;
  margin-bottom: 1px; }

/*Main Content - Neat --> Nesting Column*/
div.mainContent {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 980px;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

div.mainContent::after {
  clear: both;
  content: "";
  display: table; }

/*Side Bar*/
section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  width: 245px;
  margin-right: 0; }

section:last-child {
  margin-right: 0; }

div.sideBarT {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 383px;
  width: 245px;
  background: #FFFFFF;
  margin: 0 0 25px 0;
  border: 1px solid #d7d7d7;
  font-size: 16px;
  border-radius: 3px; }

div.sideBarT:last-child {
  margin-right: 0; }

div.sideBarB {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 656px;
  width: 245px;
  background: #FFFFFF;
  margin: 0 0 10px;
  border: 1px solid #d7d7d7;
  border-radius: 3px; }

div.sideBarB:last-child {
  margin-right: 0; }

section .sBT {
  font-size: 13px;
  color: #555;
  margin-top: 30px;
  margin-bottom: 5px; }

section .sBB {
  font-size: 13px;
  color: #555;
  margin-bottom: 5px; }

/*Product Grid*/
.productBox {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  width: 717px;
  float: right;
  padding: 0;
  margin-top: 50px;
  font-size: 13px; }

.productBox:last-child {
  margin-right: 0; }

.productBox img {
  width: 222px; }

.productBox .belowTitle {
  margin-top: 20px;
  display: inline; }

.productBox .priceAndCurrency {
  float: right;
  margin-right: 15px; }

.productBox .dataTitle {
  padding-left: 12px;
  white-space: nowrap;
  margin-bottom: 17px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif; }

.productBox .dataShop {
  display: inline;
  color: #B2B2B2;
  margin-left: 12px; }

.productBox .dataPrice {
  display: inline;
  color: #7BBE4C; }

.productBox .dataCurrencyCode {
  display: inline;
  color: #7BBE4C; }

.productBox ul {
  margin: 0 auto;
  padding: 0; }

.productBox li {
  list-style-type: none;
  height: 235px;
  border: 1px solid #d7d7d7;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 3px;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%; }

.productBox li:last-child {
  margin-right: 0; }

.productBox li:nth-child(3n) {
  margin-right: 0; }

.productBox li:nth-child(3n+1) {
  clear: left; }
