@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
$enavfont: 'Roboto',
sans-serif;
body {
    background-color: #ebebe6;
}
/*Nav Header*/

nav {
    background-color: #ffffff;
}
/* Header*/

.enav-header-inner {
    max-width: 980px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    img {
        width: 80px;
        display: block;
        margin-top: 25px;
        float: left;
    }
    .enav-search {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        .search-area {
            height: 35px;
            width:252px;
            margin-right: 0;
            margin-bottom: 1px;
            postion: relative;
            border: 1px solid #CFCBC8;
        }
        .searchBtn {
            height: 35px;
            width: 80px;
            postion: absolute;
            margin-left: -5px;
            margin-top: -2px;
            background-color: #32a4bf;
            color: white;
            border: 1px solid #CFCBC8;
        }
    }
    .enav-browser {
        float: left;
        margin: 0;
        display: block;
    }
    .regsigcar {
        float: right;
        margin: 0;
        .register {}
        .sign-in {}
        .cart {}
    }
}
/*Main Content - Neat --> Nesting Column*/

div.mainContent {
    @include outer-container;
    height: 100%;
    width: 980px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
/*Side Bar*/

section {
  @include span-columns (3);
    width: 245px;
    margin-right: 0;
}

div.sideBarT {
    @include span-columns(3);
    height: 383px;
    width: 245px;
    background: #FFFFFF;
    margin: 0 0 10px;
    border: 1px solid #B2B2B2;
    font-size: 16px;
}

div.sideBarB {
    @include span-columns(3);
    height: 656px;
    width: 245px;
    background: #FFFFFF;
    margin: 0 0 10px;
    border: 1px solid #B2B2B2;

}
/* Product Grid */

ul {
    @include span-columns(9);
    width: 717px;
    float: right;
    padding: 0;
    margin-top: 50px;
}

li {
    @include span-columns(3 of 9);
    height: 220px;
    width: 225px;
    background: #FFFFFF;
    margin: 0 5px 10px;
    border: 1px solid #B2B2B2;
    font-size: 16px;
}
