@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
$enavfont: 'Roboto',
sans-serif;
body {
    background-color: #ebebe6;
}
/*Nav Header*/

nav {
    background-color: #ffffff;
}
/* Header*/

.enav-header-inner {
    max-width: 980px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    img {
        width: 80px;
        display: block;
        margin-top: 25px;
        float: left;
    }
    .enav-search {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        .search-area {
            height: 35px;
            width: 252px;
            margin-right: 0;
            margin-bottom: 1px;
            postion: relative;
            border: 1px solid #CFCBC8;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .searchBtn {
            height: 35px;
            width: 80px;
            postion: absolute;
            margin-left: -5px;
            margin-top: -2px;
            background-color: #32a4bf;
            color: white;
            border: 1px solid #CFCBC8;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .searchBtn:hover {
            background-color: #37bbdb;
        }
    }
    .enav-browser {
        float: left;
        margin: 0;
        display: block;
        margin-top: 20px;
        margin-left: 20px;
        .browseBtn {
        width: 80px;
        height: 35px;
        color:#666;
        font-size: 14px;
        border: 1px solid #E5E5E5;
        background-color: white;
        border-radius: 3px;
        }
    }
    .regsigcar {
        float: right;
        margin: 0;
        .register {}
        .sign-in {}
        .cart {}
    }
}
/*Main Content - Neat --> Nesting Column*/

div.mainContent {
    @include outer-container;
    height: 100%;
    width: 980px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
/*Side Bar*/

section {
    @include span-columns (3);
    width: 245px;
    margin-right: 0;
}

div.sideBarT {
    @include span-columns(3);
    height: 383px;
    width: 245px;
    background: #FFFFFF;
    margin: 0 0 10px;
    border: 1px solid #d7d7d7;
    font-size: 16px;
    border-radius: 3px;
}

div.sideBarB {
    @include span-columns(3);
    height: 656px;
    width: 245px;
    background: #FFFFFF;
    margin: 0 0 10px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}
/*Product Grid*/

.productBox {
    @include span-columns(9);
    width: 717px;
    float: right;
    padding: 0;
    margin-top: 50px;
    font-size: 13px;
    img {
        width: 222px;
    }
    .belowTitle {
        margin-top: 20px;
        display: inline;
    }
    .priceAndCurrency {
        float: right;
        margin-right: 15px;
    }
    .dataTitle {
        padding-left: 12px;
        white-space: nowrap;
        margin-bottom: 17px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: $enavfont;
    }
    .dataShop {
        display: inline;
        color: #B2B2B2;
        margin-left: 12px;
    }
    .dataPrice {
        display: inline;
        color: #7BBE4C;
    }
    .dataCurrencyCode {
        display: inline;
        color: #7BBE4C;
    }
    ul {
        margin: 0 auto;
        padding: 0;
    }
    li {
        list-style-type: none;
        height: 235px;
        border: 1px solid #d7d7d7;
        background-color: white;
        margin-bottom: 25px;
        border-radius: 3px;
        @include span-columns(3 of 9);
        @include omega(3n);
    }
}
